<a href="https://colab.research.google.com/github/dantrainor9/Causes-of-Death/blob/main/Causes_of_Death.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
path = '/content/drive/MyDrive/Causes of Death/causes-of-death-in-children-under-5 NEW.csv'
df = pd.read_csv(path)

In [ ]:
df.shape

(6840, 32)

In [ ]:
df.head()

,Entity,Code,Year,Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number),Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number),...,Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number),Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)",Deaths - Road injuries - Sex: Both - Age: Under 5 (Number),Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number),Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number),Deaths - Drowning - Sex: Both - Age: Under 5 (Number),Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,48,105,1779,718,431,8649,477,...,7112,2455,3968,131,802,808,10,776,21,123
1,African Region (WHO),0,1990,26869,4381,170136,3388,17987,311413,17025,...,100379,71931,686390,9165,28173,78180,67976,16651,447410,54547
2,Albania,ALB,1990,0,5,33,3,44,176,136,...,310,25,68,11,27,4,0,34,0,10
3,Algeria,DZA,1990,16,17,316,92,182,2599,239,...,3326,628,2666,217,1446,94,15,310,0,163
4,American Samoa,ASM,1990,0,0,1,0,0,2,0,...,2,1,1,0,0,0,0,0,0,3

In [ ]:
df.describe()

,Year,Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number),Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number),Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number),...,Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number),Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)",Deaths - Road injuries - Sex: Both - Age: Under 5 (Number),Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number),Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number),Deaths - Drowning - Sex: Both - Age: Under 5 (Number),Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)
count,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,...,6840.000000,6840.000000,6.840000e+03,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000
mean,2004.500000,1041.740789,399.418567,6392.636842,826.106433,1472.511550,8527.408772,1235.561696,262.530409,304.512135,...,11726.084795,3876.111696,2.464864e+04,535.363743,1718.877047,2892.662719,3252.680702,2331.720468,12045.209064,2107.161111
std,8.656074,5943.506061,1549.064285,30815.191076,4399.035288,5794.139457,43502.336767,5006.538348,1119.050195,1208.144730,...,51612.890640,16817.425576,1.133132e+05,2156.814008,6934.211045,13333.898943,18169.939174,10832.408381,64858.902628,9180.674890
min,1990.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1997.000000,0.000000,1.000000,1.000000,0.000000,7.000000,0.000000,2.000000,0.000000,1.000000,...,18.750000,0.000000,3.000000e+00,2.000000,4.000000,0.000000,0.000000,3.000000,0.000000,0.000000
50%,2004.500000,1.000000,10.000000,17.000000,2.000000,44.000000,1.000000,25.000000,4.000000,7.000000,...,178.000000,21.000000,9.800000e+01,15.000000,38.500000,11.000000,7.000000,27.000000,0.000000,12.000000
75%,2012.000000,42.000000,77.000000,903.250000,36.000000,283.000000,655.000000,290.250000,52.000000,78.000000,...,1773.250000,671.000000,3.822250e+03,142.000000,359.250000,388.000000,298.250000,291.250000,217.250000,277.250000
max,2019.000000,62334.000000,21223.000000,524103.000000,50184.000000,85197.000000,704288.000000,77952.000000,15916.000000,18047.000000,...,539952.000000,240021.000000,1.649581e+06,35583.000000,115624.000000,209562.000000,223680.000000,184096.000000,631523.000000,99248.000000

In [ ]:
df.dtypes

Entity                                                                                                   object
Code                                                                                                     object
Year                                                                                                      int64
Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)                     int64
Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)                                       int64
Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)                                     int64
Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)                                              int64
Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)                                                    int64
Deaths - Measles - Sex: Both - Age: Under 5 (Number)                                                      int64
Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)                                           int64
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)                   int64
Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)                                       int64
Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)                                      int64
Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)                                     int64
Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)                                 int64
Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)                                       int64
Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)                         int64
Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)                int64
Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)                                 int64
Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)                                            int64
Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)     int64
Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)                                                   int64
Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)                                     int64
Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)                                               int64
Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)                                           int64
Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)                               int64
Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)                                                int64
Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)                                                 int64
Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)                                                     int64
Deaths - Drowning - Sex: Both - Age: Under 5 (Number)                                                     int64
Deaths - Malaria - Sex: Both - Age: Under 5 (Number)                                                      int64
Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)                                                     int64
dtype: object

In [11]:
df.isna().sum()

Entity                                                                                                   0
Code                                                                                                     0
Year                                                                                                     0
Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)                    0
Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)                                      0
Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)                                    0
Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)                                             0
Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)                                                   0
Deaths - Measles - Sex: Both - Age: Under 5 (Number)                                                     0
Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)                                          0
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)                  0
Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)                                      0
Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)                                     0
Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)                                    0
Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)                                0
Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)                                      0
Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)                        0
Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)               0
Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)                                0
Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)                                           0
Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)    0
Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)                                                  0
Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)                                    0
Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)                                              0
Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)                                          0
Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)                              0
Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)                                               0
Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)                                                0
Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)                                                    0
Deaths - Drowning - Sex: Both - Age: Under 5 (Number)                                                    0
Deaths - Malaria - Sex: Both - Age: Under 5 (Number)                                                     0
Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)                                                    0
dtype: int64